src/main/mule/tzapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fcce6209-1586-4ff1-b04d-808f1792ab6d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="b643f134-2bc3-4882-a260-638171a8e653" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="tzappFlow" doc:id="f377e2f8-cdaa-4c5b-9ed7-d5c988370a62" >
		<http:listener doc:name="Listener" doc:id="0897a2ff-352c-4ed8-895c-b5cc0bea691c" config-ref="HTTP_Listener_config" path="/tz/{region}/{city}"/>
		<logger level="INFO" doc:name="Logger" doc:id="aa394910-2b8b-4a97-98a5-8eb0f61fadd4" message="Req received for region"/>
		<http:request method="GET" doc:name="Request" doc:id="8d42ef63-f8e2-4ed4-a713-e1f8a788101a" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"region" : attributes.uriParams.region,
	"city" : attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
